.wrapper {
    width: 356px;
    padding-top: 20px;
    position: fixed;
}

.suggested-title {
    padding: 0px 8px 8px 16px;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
}

.suggested-see-all {
    color: rgb(254, 44, 85);
}
